.top-bar{
    height: 10px;
    background-color: #324ab2;
    width: 100%;
    margin-bottom: 13px;
}

.top-bar.t1{
    height: 10px;
    background-color: #324ab2;
    width: 100%;
    margin-top: 13px;
}

.side-bar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100px;
    background-color: #324ab2;
    z-index:-1;
}

.side-bar.b1{
    background-color: #d4e4ff;
    left: 100px;
    width: 20px;
}

.title h1{
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 125px;
    letter-spacing: 100px;
    color: #324ab2;
    background-color: #f6f9ff;
    padding: 20px 40px;
    margin: 0;
}

.title img{
    width: 320px;
    height: 320px;
    margin-right:0.5%;
    border-radius: 100%;
    position: relative;   
    overflow: hidden;
}

.title{
    display: flex;
    flex-direction: row-reverse;  
    border: 8px solid black;
    padding: 0;
    background-color: #d4e4ff;
    align-items: center;
}

.message {
    position: fixed;
    top: -190px;
    padding-bottom: 35px;
    right: 20px;
    width: 360px;
    height: 200px;
    background: #ff6b6b;
    color: white;
    font-size: 35px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 50px;
    border-radius: 0 0 40px 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.35s ease;
    z-index: 9999;
}

.message.m1 {
    right: 480px;
    background: #02cc35;
}

.message.m2 {
    right: 940px;
    background: #003ab8;
}

.message:hover {
    transform: translateY(180px);
}

.navb {
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #d4e4ff;
    display: flex;
    gap: 100px;
    margin-top: 18px;
    border: 8px solid black;
}

.navb a {
    text-decoration: none;
    background-color: #FFFFFF;
    color: #000000;
    border: 5px solid black;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 20px;
}

.navb a:hover {
    background-color: #324ab2;
    color: #FFFFFF;
    
}

.nav-wrap {
  position: relative;
}

.navbsymbol {
    position: absolute;                 
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    height: 120px;
    object-fit: contain;
    pointer-events: none;     
}

.navbsymbol.s1 {
    bottom: 70%; 
}

.navbsymbol.s2 {
    bottom: 70%; 
}

.navbsymbol.s3 {
    bottom: 80%; 
}

.navbsymbol.s4 {
    bottom: 60%; 
}

.home-content{
    display: flex;
    align-items: center;      
    justify-content: space-between;
    gap: 40px;         
}

.text{
    width: 60%;
    padding: 16px;
    background-color: #f6f9ff;
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    border: 2px solid #324ab2;
    border-width: 8px;
    font-size: 40px;
    margin-left: 200px;
}

.home-img{
    width: 1000px;
    height: 720px;
}

.video{
    height: 90vh;
}

.video iframe{
    width: 90%;
    height: 100%;
    border: 0;
    margin-left: 200px;
    margin-top: 13px;
}

.course {
    height: 90vh;
}

.course iframe{
    width: 90%;
    height: 100%;
    margin-left: 200px;
}